<div class="widget">
<!--    <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid"> -->
<div class="adsense">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- minorpatch-sidebar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8746275014476192"
       data-ad-slot="2598724863"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
</div>
