<div class="common-problems overflow-hidden shadow-xl w-full mb-6 rounded-lg animate__animated animate__zoomInDown">
  <div class=" whitespace-normal p-6 text-sm text-gray-600">

    <p>©The copyright of the apps belongs to the author; all the apps on this site comes from the Internet and is for
      learning use only, please support the genuine!</p>
    <p>Please indicate the source if reprint: <a href="https://www.minorpatch.com/">MinorPatch.com | MacApps Free
        Download</a> » <a href="{{ .Permalink }}">{{ .Title }}</a></p>
  </div>
</div>

<div class="common-problems overflow-hidden shadow-xl w-full mb-6 rounded-lg animate__animated animate__zoomInDown">
  <div class="whitespace-normal p-6 text-gray-600 text-sm">
    <div class="lim-tip-box post-content">
      <h2>Universal Problem Solutions</h2>
      <ol class="list-decimal list-inside pl-6">
        <li class="leading-loose">If
          prompted:<code>"xxx.app is damaged and cannot be opened. You should move it to the Trash"</code> , It's
          not that the apps you download is damaged, but the security settings of the Mac system. See solutions:<a
            href="/solutions/caption-of-apps-cant-be-opened.html" target="_blank">Mac apps that cannot be opened or
            files are damaged</a></li>
        <li class="leading-loose">If
          prompted:<code>"Unable to confirm the identity of the developer, unable to open"</code>, It's not that
          the apps you download is damaged, but the security settings of the Mac system. See solutinons:<a
            href="/solutions/open-an-app-for-unknown-developers.html" target="_blank">Open the application of an
            unidentified developer</a></li>
        <li class="leading-loose"><a href="/solutions/disable-sip-system-integrity-protection.html" target="_blank">How
            to disable SIP system
            integrity protection</a>
        </li>
        <li class="leading-loose">Unified password for opening DMG and zip on this site: <code>minorpatch.com</code>
        </li>
        <li class="leading-loose">Regarding the activation method, most articles have made different activation
          instructions for different
          versions.
          However, in the end, the actual situation in the dmg package shall prevail. If there is only a single .app or
          .pkg file,
        </li>
      </ol>
    </div>
  </div>
</div>