body {
  color: rgba(255, 255, 255, 0.85);
  background-color: #282a2d !important;
}

mark,
::selection {
  background-color: #515b70;
}

.note,
.site.name {
  color: rgba(255, 255, 255, 0.85);
}

.site.slogan .title,
.note.date,
.article.date,
.footer {
  color: rgba(255, 255, 255, 0.5);
}

.note.content,
.article.markdown-body {
  color: rgba(255, 255, 255, 0.65);
}

code,
kbd,
tt,
samp {
  color: #fc6a5d;
}

pre {
  background-color: #1f1f24;
}

a {
  color: #1b95e0;
}

a:hover {
  text-decoration: none;
  color: crimson;
}

.pagination ul li a {
  color: #1b95e0;
}

.pagination ul li a.active {
  background-color: #1b95e0;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(130, 170, 255, 0.5);
}

.tag,
.category {
  border-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.tag {
  color: #fc6a5d;
}

.category {
  color: rgba(255, 255, 255, 0.85);
  /*background-color: #3f84ce;*/
}

.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  color: rgba(255, 255, 255, 0.8);
}

.note.list .item,
.article-container {
  background-color: #282a2d;
  /*  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .2); */
  min-height: 360px;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5);
  margin: 10px;
}

@media (max-width: 500px) {
  .note.list .item,
  .article-container {
    box-shadow: none;
  }
}
.note.list .item:hover {
    box-shadow: 0 2px 10px #007bff;
}
.note.list .item {
    transition: all 0.3s ease;
}

/* border color */
pre,
.note.imgs .img,
.article.markdown-body table td,
.article.markdown-body table th,
.article.markdown-body .lntable {
  border-color: rgba(255, 255, 255, 0.2);
}

.site.header,
.article.markdown-body h1,
.article.markdown-body h2 {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}


.article.discussion {
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.article.markdown-body .lntable tr > :first-child {
  border-right-color: rgba(255, 255, 255, 0.2);
}

/*自定义*/
.skills-title {
  color: rgba(255, 255, 255, 0.85);
}
.section-title span,
.skills-entry-title span {
  color: rgba(255, 255, 255, 0.85);
}
.pagination ul li a.active {
  background-color: #383838;
}
.lizhi_summary {
  color: rgba(255, 255, 255, 0.85);
}
.mb-3,
.my-3 {
  color: rgba(255, 255, 255, 0.85);
}
a.h5.d-block.mb-3 {
  color: rgba(255, 255, 255, 0.85);
}
.nav.item {
  color: rgba(255, 255, 255, 0.85);
}
.ins-search-input {
  background-color: #4a4a4a !important;
  color: rgba(255, 255, 255, 0.85);
}
.ins-section .ins-section-header {
  background: #4a4a4a;
}
.ins-selectable {
  background: #4a4a4a;
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  color: rgba(255, 255, 255, 0.85);
}
button.close {
  color: rgba(255, 255, 255, 0.85);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.85) !important;
}

.widget li a {
  color: rgba(255,255,255,.65);
}
.related_content {
  color: rgba(255, 255, 255, 0.85);
}
a {
  color: rgba(255, 255, 255, 0.85);
}
pre {
  color: rgba(255, 255, 255, 0.85) !important;
}

.blog-slider {
  background: #282a2d;
  box-shadow: 0px 14px 80px rgba(255, 255, 255, 0.31);
}
.blog-slider__title {
  color: rgba(255, 255, 255, 0.85);
}
.blog-slider__text {
  color: rgba(255, 255, 255, 0.85);
}
.blog-slider__code {
  color: rgba(255, 255, 255, 0.85);
}

/*Article list animation effect*/

.skills.col-lg-6.col-md-6.col-12:hover {
    box-shadow: 0 2px 10px #007bff;
}
.col-lg-4.col-md-6.small-post-border:hover {
     box-shadow: 0 2px 10px #007bff;
    border-radius: 0.5rem;
    }
.lizhi.col-lg-6.col-md-6.small-post-border:hover {
    padding: 2rem;
    box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 0px 6px 0px rgba(0,0,0,0.1), 0px 1px 0px rgba(0,0,0,0.3), 0px 3px 0px rgba(0,0,0,0.2), 0px 5px 0px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.1), 0 8px 7px rgba(0,0,0,0.1), 0 9px 9px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.15), 0 15px 15px rgba(0,0,0,0.16);
    border-radius: 0.5rem;
}